@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Website.ViewModels.ProductViewModel>

@{
    ViewBag.Title = "DisplayProducts";
}
@section styles{
    @Styles.Render("~/Styles/Product/css")
}


<h2>DisplayProducts</h2>

<p>
    @Html.ActionLink("Create New", "UploadNewProduct")
</p>

@if (ViewBag.msg != null)
{
    <div class="alert alert-success">
        <strong>@ViewBag.msg</strong>
    </div>
}

<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            Name
        </th>
        <th>
            SKU
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Content(item.ImageURL)" alt="Image" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        @*<td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>*@
    </tr>
}

</table>

@Html.PagedListPager(Model, page => Url.Action("DisplayProducts", new { page}))
