@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Website.ViewModels.ProductViewModel>

@{
    ViewBag.Title = "DisplayProducts";
}
@section styles{
    @Styles.Render("~/Styles/Product/css")
}

<div id="displayProducts">
        <p class="btn btn-primary btn-md">
            <span class="glyphicon glyphicon-plus"></span> @Html.ActionLink("Create New", "UploadNewProduct")
        </p>
        <span class="wow-display-paging">
            @Html.PagedListPager(Model, page => Url.Action("DisplayProducts", new { page }))
        </span>

    @if (ViewBag.msg != null)
    {
        <div class="alert alert-success">
            <strong>@ViewBag.msg</strong>
        </div>
    }
   
    <table class="table">
        <tr>
            <th class="wow-display-imagerow">
                Image
            </th>
            <th>
                Name
            </th>
            <th>
                SKU
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="wow-display-tablerow" onclick="location.href = '@(Url.Action("DisplayProduct", new { id = item.ProductID }))'">
                <td class="wow-display-imagerow">
                    <img src="@Url.Content(item.ImageURL)" alt="Image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
            </tr>

        }

    </table>

    @Html.PagedListPager(Model, page => Url.Action("DisplayProducts", new { page }))
</div>