@model Website.ViewModels.ProductViewModel

@{
    ViewBag.Title = "DisplayProduct";
}
@section styles{
    @Styles.Render("~/Styles/Details/css")
}
<div class="row" id="displayProductDetails">
    <div>
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
            <span class = "glyphicon glyphicon-chevron-left"> </span> @Html.ActionLink("Back to List", "DisplayProducts") 
        </p>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
        <img src="@Url.Content(Model.ImageURL)" alt="Image" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
        <div>
            <h3> @Html.DisplayFor(model => model.Title) </h3>
            <p> SKU : @Html.DisplayFor(model => model.ProductID)</p>
        </div>
        <table>
            <tr>
                <th> - Overview </th>
            </tr>
            <tr>
                <td> @Html.DisplayFor(model => model.Description) </td>
            </tr>
        </table>
    </div>
</div>

